.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, section {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section_white {
  background-color: #dcdfe4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0 auto;
}

li {
  text-align: left;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: all .3s;
}

a:hover {
  color: #61dafb;
}

tr {
  display: block;
  padding: .5em 0;
  margin: 1em 0;
  border-bottom: 1px solid #455c82;
}

td {
  font-size: .6em;
  text-align: left;
  vertical-align: top;
  padding: 0 1em;
}

td ul {
  padding: 0;
}

td ul li {
  padding: .1em 0;
}

td ul li a {
  color: #000000;
}

.tableTitle {
  font-weight: bold;
  margin: 0;
}

i {
  margin-right: 0.5em;
}

.Headline {
  color: #ffffff;
  font-size: 5rem;
}

.Headline p {
  overflow: hidden;
  border-right: .15em solid #61dafb;
  padding: 0.02em;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.02em;
  animation:
          typing 3.5s steps(20, end),
          blink-caret 1s step-end infinite;
}

.subtitle {
  color: #61dafb;
  border-bottom: .1em solid #61dafb;
  padding-bottom: .5em;
}

section_white .subtitle {
  color: #455c82;
  border-bottom: .1em solid #455c82;
  padding-bottom: .5em;
}

.profile {
  display: inline-block;
  text-align: center;
}

.eachdiv {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.name {
  font-weight: bold;
}

.description {
  font-size: 0.7em;
}

.sub_description {
  margin-bottom: 2em;
  font-size: 0.5em;
}

.flex-center {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  vertical-align: top;
  text-align: center;
  margin: auto;
}

.skillset {
  display: inline-block;
  width: 10em;
  text-align: center;
  vertical-align: top;
  position: relative;
  transition: all 0.2s;
}

.skillset:hover {
  filter:blur(2px);
  -webkit-filter:blur(2px);
  opacity: .8;
}

.detailSkill {
  background-color: dodgerblue;
  color: white;
  padding: .1em .5em;
  margin: 0 .5em 0 0;
  border-radius: 5px;
  transition: all ease .2s;
}

.detailSkill:hover {
  background-color: white;
  color: dodgerblue;
  transform: scale(1.5);
}

.mt-8 {
  margin-top: 8em;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #61dafb;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes skillfade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}